body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#brand{
   font-family: "Permanent Marker", cursive;
  font-weight: 500;
  font-style: italic;
}
/* 
 .profile-card {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
        } */
        .dotted-line {
            width: 2px;
            height: 60px;
            background: linear-gradient(to bottom, #f97316 0%, #f97316 50%, transparent 50%, transparent 100%);
            background-size: 2px 8px;
        }
        .nav-menu {
            display: none;
        }
        .nav-menu.active {
            display: block;


        }
        @media (max-width: 640px) {
            #mobile-menu {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                background: #1a202c;
            }
            #mobile-menu.active {
                display: block;
            }
        }